@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter), system-ui, sans-serif;
  --font-serif: var(--font-inter), system-ui, sans-serif; 
  
  /* Bảng màu Sky & Ocean */
  --color-brand-primary: #0f172a;   /* Xanh đen Navy (Chữ) */
  --color-brand-accent: #0284c7;    /* Xanh da trời đậm (Màu chính) */
  --color-brand-paper: #ffffff;     /* Trắng tinh khôi */
}

:root {
  --background: var(--color-brand-paper);
  --foreground: var(--color-brand-primary);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

/* Khóa màu nền để không bị Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-brand-paper);
    --foreground: var(--color-brand-primary);
  }
}